<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <h1>Bienvenid@ {{user.first_name}} </h1>
            <a href="/dashboard" class="btn btn-warning">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
        </header>
        <hr class="border border-danger border-2 opacity-51">
        {% with messages = get_flashed_messages(category_filter=['blog']) %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/update/blog" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">  <!--relacionamos la pesona con la blog-->
            <input type="hidden" name="id" value="{{post.id}}">
            <div class="form-group">
                <label for="name">Nombre del blog</label>
                <input type="text" id="name" name="nombre_blog" class="form-control" value="{{post.nombre_blog}}">
            </div>
            <div class="form-group">
                <label for="contenido">contenido</label>
                <textarea class="form-control" id="contenido" name="contenido">{{post.contenido}}</textarea>
            </div>
            
            <div class="form-group">
                <label for="date_made">Fecha Creación</label>
                <input type="date" id="date_made" name="date_made" class="form-control" value="{{post.date_made}}">
            </div>
            
            <input type="submit" class="btn btn-success" value="Guardar">
        </form>
    </div>
</body>
</html>

